@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .rainbow-border {
    background:
            linear-gradient(90deg, #14B7C2 0%, #677F3F 29.17%, #E2E137 64.58%, #EC4E63 100%),
            linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 3px; /* Adjust the size of the border */
    display: inline-block; /* Or another display value as needed */
  }
}
